config.json
*.config.json
config*.json
covas*.db
EDAI.log
/build
/dist
*.patch
__pycache__
conversation.json
*.log
.env
.cache
mongodb
postgres-data
mongodb-config
.obsidian
e2e
game
linux_ed
logs
.pytest_cache
.python-version